@charset "utf-8";

section {
    width : 1500px;
    margin : 0 auto;
}

/* 헤더 영역 */
header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height : 70px;
    background-color: rgba(0,0,0,0.8);
}
nav {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    position: relative;
    margin: 0 auto;
}
.logo {
    color: #fff; 
    font-size: 35px;
    line-height: 70px;
}
.logo span {
    color : #74b3e4;
}
.logo i {
    font-style: normal;
}
#main-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#main-menu>li{
    position: relative;
    float: left;
}
#main-menu>li>a {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    color :#fff;
}
#main-menu>li::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    height: 2px;
    width: 0;
    background: #3598db;
    transition: all 0.2s ease-in;
}
#menu>li:hover::before{
    width: calc(100% - 60px);
}
.sub-menu {
    position: absolute;
    display: none;
}
.sub-menu>li{
    line-height: 45px;
}
.sub-menu>li>a{
    width: 130px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color : #fff;
}
ul a:hover {
    color : #74b3e4;
}

.top-menu li {
    display: inline-block;
}
.top-menu li a { 
    font-size: 16px;
    color : #fff;
    line-height: 70px;    
} 
.top-menu li a:first-child {
    margin-left: 35px;
}
.top-menu a:hover {
    color : #74b3e4;
}

#trigger {
    display: none;
}

/* 풋터 영역 */
footer {
    width: 100%; background: #85c3f3;
}

footer .ftwrap {
    display:flex;
    justify-content: space-between; align-items: 
    center;
    margin: 0 auto;
    width: 1550px; height: 200px;
}

.ftwrap h1 {font-size: 35px; color: #f6f6f6;}
.ftwrap p {font-size: 18px; color: #f6f6f6;}

.iconm {
    display:flex;
}

.icon {
    position:relative;
    width:40px; height:40px; margin:0 20px;
    font-size:20px; color:#3598db; text-align:center; line-height:40px;
    background:linear-gradient(to bottom, #f2f2f2, #d4d4d4);
    border-radius:25%; overflow:hidden;
    box-shadow:0 5px 15px -5px #000, 0 0 10px #ddd;
}

.icon::before {
    content:'';
    position:absolute; left:-120%; top:90px;
    width:150%; height:150%;
    background:#3598db;
    transform:rotate(45deg);
    transition:all 0.4s ease-in;
}

.icon i { transition:all 0.3s ease-in 0.2s; }
.icon:hover i { color:#f6f6f6; transform:scale(1.2); }

.icon:hover::before {
    left:-10%; top:-10px;
    animation:btnAni 0.8s 1; /* 애니메이션 적용 */
}

@keyframes btnAni { /* 애니메이션 등록 */
    0% { left:-120%; top:90px; }
    75% { left:30%; top:-50px; }
    100% { left:-10%; top:-10px; }
}
