
.introduce-img {
    background-image: url(../img/section01_img.jpg);
}

.bn1 {
    background: url("../img/main.jpg") no-repeat center center / cover;
}

/* MORE */
.introduce-text>.more::before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    background-color: #74b3e4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: -1;
}
.introduce-text>.more::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    transform: translate(50%,-50%);
    background-color: #74b3e4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: -1;
}
.introduce-text>.more:hover::before{
    transition: left 0.3s ease-in, transform 0.3s ease-in 0.3s;
    left: 50%;
    transform: scale(30);
}
.introduce-text>.more:hover::after{
    right: 50%;
    transition: all 0.3s ease-in;
}


/* 섹션 02 */
.s01 {
    height: 750px;
}
.s02 > h4 {
    margin-top: 75px;
    font-size: 40px;
}
.s03 {
    height: 750px;
}

